/* Login */

.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"],
.form-signin input[type="email"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}


/* Status */
#status,
#report {
    display: none;
}

#status {
    padding-top: 3em;
}


/* Reports */
@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background-color: #FFF;
    padding: 50px 0;
}

.btn {
    border-radius: 2px;
}

/*
.checkin .userImg img {
    width: 80px;
    height: 80px;
    border-radius: 2px;
    margin-right: 30px;
    padding: 5px;
    background-color: #F8F8F8;
    box-shadow: 0 2px 0px #DBDBDB;
    -webkit-box-shadow: 0 2px 0px #DBDBDB;
    -moz-box-shadow: 0 2px 0px #DBDBDB;
}

.checkin .media-body {
    width: 100%;
}

.checkin .panel {
    border-radius: 4px;
    border-width: 0;
    box-shadow: none;
    position: relative;
}

.checkin .panel>.panel-heading:after,
.checkin .panel>.panel-heading:before {
    position: absolute;
    top: 11px;
    left: -20px;
    right: 100%;
    width: 0;
    height: 0;
    display: block;
    content: "";
    border-color: transparent;
    border-style: solid solid outset;
    pointer-events: none;
}

.checkin .panel > .panel-heading:after {
    border-width: 9px;
    border-right-color: #F3F3F3;
    margin-top: 1px;
    margin-left: 2px;
}

.checkin .panel > .panel-heading:before {
    border-right-color: #F3F3F3;
    border-width: 10px;
}

.checkin .panel-heading {
    color: #666;
    border-radius: 4px 4px 0 0;
    background-color: #f3f3f3;
    border-bottom: 1px solid #e6e6e6;
}

.checkin .panel-heading a {
    color: #333;
    font-weight: bold;
}

.checkin .panel-heading a:hover,
.checkin .panel-heading a:focus,
.checkin .panel-heading a:active{
    color: #0c92f2;
    text-decoration: none;
}

.checkin .panel-body {
    color: #666;
    background-color: #FCFCFC;
    border-bottom: 2px solid #E6E6E6;
    border-radius: 0 0 4px 4px;
}

.checkin time {
    color: #8C8C8C;
    font-weight: 300;
}

.checkin .btn-reply {
    background-color: #EEE;
    color: #666;
    box-shadow: 0 2px 1px -1px rgba(0,0,0,0.15);
}

.checkin .btn-reply:hover,
.checkin .btn-reply:focus,
.checkin .btn-reply:active {
    color: #333;
}*/

/* fanciness */
hr {
    padding: 2em 0em;
}

:target {
  animation: highlight 1s ease;  
  transform: translateX(20px);     
}
@keyframes highlight {
  0% { border-left-color: red; }
  100% { border-left-color: white; }
}

.row {
  border-left: 40px solid white;
  padding: 10px;
  transition: all 0.5s ease;     
  padding-right: 50px;
  margin-left: -20px;    
}

.alert {
    margin-top: 0; 
}