<div class="row">
    
    <div class="col-md-6">
        <section class="themeComments1">
            <div class="media">
              <div class="media-left">
                <a href="#" class="userImg">
                  <img class="media-object" src="http://i.imgur.com/QiRVrQo.jpg" alt="...">
                </a>
              </div>
              <div class="media-body">
                <div class="panel">
                    <div class="panel-heading">
                        <a href="">
                            <strong>myusername</strong>
                        </a>
                        commented
                        <time>5 days ago</time>
                    </div>
                    <div class="panel-body">
                        <p>Panel content</p>
                        <p>content</p>
                        <br>
                        <a href="" class="btn btn-reply btn-sm"><i class="fa fa-reply"></i>  Reply</a>
                    </div>
                </div>
              </div>
            </div>
        </section>
    </div>
    
    <div class="col-md-6">
    </div>
    
</div>